* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  position: relative;
}

.top h4 {
  font-weight: 600;
}

.menuIcon {
  display: none;
}

.top-1 {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("desktop/image-hero.jpg");
  background-color: black;
  background-size: cover;
  height: 80vh;
  color: white;
  padding: 0px 100px;
  position: relative;
}

.BannerOverlay {
  position: absolute;
  background: #00000057;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container1 {
  height: calc(100% -104px);
  display: flex;
  align-items: center;
  position: relative;
}

.h1Wrapper {
  padding: 30px;
  border: 1px solid white;
}

.top-1 h1 {
  color: white;
  font-weight: 700;
  font-size: 4rem;
}

.top {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}

.tops {
  gap: 22px;
}

.loop {
  padding-top: 2rem;
  font-size: 32px;
}

.topWrapper {
  background-color: white;
  margin: 8rem;
}

.top-2 {
  font-family: "Josefin Sans", sans-serif;
  display: inline-flex;
  align-items: end;
}

.top-3 {
  font-family: "Josefin Sans", sans-serif;
}

.top-box {
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(4, 1fr);
  object-fit: cover;
}

img {
  margin: 1rem;
}

.top-4 {
  font-family: "Alata", sans-serif;
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
}

.first-flex {
  display: flex;
  margin: 5rem;
  justify-content: space-between;
}

.second-flex {
  display: flex;
  margin: 5rem;
  justify-content: space-between;
}

@media screen and (max-width: 678px) {
  .top-1 h1 {
    font-size: 2rem;
  }

  .top-1 {
    padding: 0px 10px;
  }

  .tops {
    display: none;
  }

  .menuIcon {
    display: inline-block;
  }

  .h1Wrapper {
    padding: 20px;
    line-height: 40px;
  }
}
